# Node modules
/node_modules
/client/node_modules
/server/node_modules

# Build folders
/client/build
/server/build

# User uploads
/server/uploads/

# Environment variables
.env
server/.env
client/.env
# Logs
*.log

# OS files
.DS_Store
Thumbs.db
